@layer base {
  .theme-gruxbox-light {
    --background: 195 6% 12%;
    --foreground: 43 59% 81%;
    --muted: 195 12% 16%;
    --muted-foreground: 195 12% 66%;
    --popover: 195 6% 9%;
    --popover-foreground: 43 59% 91%;
    --card: 195 6% 10%;
    --card-foreground: 43 59% 86%;
    --border: 0 0% 17%;
    --input: 0 0% 20%;
    --primary: 43 59% 81%;
    --primary-foreground: 43 59% 21%;
    --secondary: 43 30% 25%;
    --secondary-foreground: 43 30% 85%;
    --accent: 195 6% 27%;
    --accent-foreground: 195 6% 87%;
    --destructive: 4 84% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 43 59% 81%;
    --chart-1: 43 59% 81%;
    --chart-2: 43 30% 25%;
    --chart-3: 195 6% 27%;
    --chart-4: 43 30% 28%;
    --chart-5: 43 62% 81%;
    --radius: 0.5rem;
  }
  .theme-gruvbox-dark {
    --background: 195 6% 12%;
    --foreground: 43 59% 81%;
    --muted: 195 12% 16%;
    --muted-foreground: 195 12% 66%;
    --popover: 195 6% 9%;
    --popover-foreground: 43 59% 91%;
    --card: 195 6% 10%;
    --card-foreground: 43 59% 86%;
    --border: 0 0% 17%;
    --input: 0 0% 20%;
    --primary: 43 59% 81%;
    --primary-foreground: 43 59% 21%;
    --secondary: 43 30% 25%;
    --secondary-foreground: 43 30% 85%;
    --accent: 195 6% 27%;
    --accent-foreground: 195 6% 87%;
    --destructive: 4 84% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 43 59% 81%;
    --chart-1: 43 59% 81%;
    --chart-2: 43 30% 25%;
    --chart-3: 195 6% 27%;
    --chart-4: 43 30% 28%;
    --chart-5: 43 62% 81%;
  }
}
